* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section-label {
  text-align: center;
}

/* HEADER */

.twoside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: none;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECTS */

.project-cards {
  display: grid;
  grid-template-columns: 1fr;
}